.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  max-width: 1500px;
}


.header textarea {
  width: 200%;
  padding: 10px 12px;
  border: 1px solid #dcdfe6; /* Delikatna, szara ramka */
  border-radius: 4px; /* Lekko zaokrąglone rogi */
  font-size: 0.9rem;
  box-sizing: border-box; /* Gwarantuje, że padding i border nie powiększą elementu */
  transition: border-color 0.2s ease-in-out;
  background-color: #ffffff; /* Białe tło dla inputów */
  margin-right: 30px;
  color: #555;

  height: 40px;           /* Stała wysokość lub początkowa */
  max-height: 40px;       /* Nigdy nie przekroczy tej wysokości */
  resize: none;            /* Użytkownik nie może sam rozciągać */
  overflow-y: auto;        /* Pojawi się scrollbar, jeśli tekstu za dużo */
}

.header textarea:focus {
  outline: none;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.diet-title-input {
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  max-width: 600px;
  padding: 4px 0;
  border-bottom: 1px solid transparent;
  border-radius: 0px;
  transition: border-color 0.2s ease;
}


.delete-button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.left-buttons,
.right-buttons {
  display: flex;
  gap: 0.5rem;
}